//Variables

$primary-color: #40369f;
$secondary-color: rgba(255, 0, 0, 0.568);
$main-text-color:  #fff;
$gray-text-color:   #ccc;

body, html{
    height: 100%;
}
body{
    font-family: 'Montserrat';
    background-color: #ddd;
}


 // Start Header
.main-header {
    background-color: $primary-color;
    color:$gray-text-color;
    padding: 10px;
    
    span{
        margin-right: 10px;
    }

    .column1{
        text-align: left;
    }

    .column2{
        text-align: right;
    }

    .button{
        border-style: solid;
        border-color: $secondary-color;
        border-radius: 15px;
        padding: 5px;
        margin: 5px;
        color: $gray-text-color;
        text-decoration: none;
    }

    a:hover{
        transform: scale(0.98);
        background-color: lighten($primary-color, 10%);
    }
}
//End Header


//start navbar
.navbar{
    background-color: #fff;
    ul{
        text-transform: uppercase;
        margin: 5px;
        color: $gray-text-color;
        font-weight: bold;
    }
}

.navbar-brand{
    span:first-child{
        font-size: 40px;
        font-weight: bold;
        color: $primary-color;
    }

    span:last-child{
        font-size: 40px;
        color: $secondary-color;
    }
}

.navbar-light .navbar-nav .active > .nav-link{
    color: $primary-color;          // make active link different color
}
//end navbar

//start carousel
.box1{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}
.carousel1{
    background-image :url(../images/man.jpg);
}
.carousel2{
    background-image :url(../images/tree.jpg);
}
.carousel3{
    background-image :url(../images/see.jpg);
}

.overlay{
   
    position: absolute;
    background-color: #00000091;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 

    .container{
    color: #fff;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    line-height: 1.5;
        

    h1 span{
        color: $secondary-color;
        font-size: 60px;
    }
    }
}
//end carousel

//start features
.features{
    background-color: #fff;
    i{
        background-color: $secondary-color;
        color: #fff;
        padding: 12px;
        margin: 20px;
    }
    h1{
        color: $primary-color;
    }
}
//end features


//start overview
.overview{
    height: 400px;
    text-align: center;
    .container1{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-weight: bold;
        line-height: 1.5;
        text-transform: uppercase;
        width: fit-content;
    }

    p{
        width: 600px;
    }

    h3{
        margin-top: 30px;
        text-transform: full-width;
        width: max-content;
        font-size: 17px;
    }

    .button{
        margin-top: 30px;
        background-color: $secondary-color;
        text-transform: uppercase;
        padding: 10px;
    }
}
//end overview

//start work
.work{
    height: fit-content;
    background-color: #fff;
    padding: 30px;
    li{
        margin: 10px;
        border: solid;
        border-color: $primary-color;
        padding: 5px 10px;
        letter-spacing: 2px;
    }

    li.active{
        background-color: $secondary-color;
    }

    li:hover{
        cursor: pointer;
        background-color: $secondary-color;
    }
}
//end work

//start portfolio
.portfolio{

    .row{
        margin: 0; //to remove side scrol from the browser
    }    
    img{
        width: 100%;
        height: auto;
    }

    .imag{
        padding: 0;     //3shan yelz2o fe b3d

        -o-transition: all .3s ease-in-out;         //3shan el transition yeb2a animated faded
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}
//end portfolio


//start reviews
.reviews{

    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 500px;
    background-image: url(../images/see.jpg);
    
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        background-color: #00000093;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    .container{
        
        margin-top:60px ;

        strong{font-size: x-large;}

        small{margin-bottom: 20px;}

        p{width: 100%;margin-top: 20px;}

        hr{height: 2px; background-color: #fff;}

        .imag img{
            width: 150px;
            height: auto;
            border-radius: 50%;
            margin: 20px;
        }
    }

    

    .arrows1{
        border: none;
        width: 30px;
        height: 40px;
        background-color: red;
        margin: 30px;
        top: 200px;
    }

    .bullet{
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
}
//end reviews

//start whyus
.whyus{
    background-color: $primary-color;
    color: #fff;
    margin-top: 40px;

    img{
        // try using 
        // overflow: hidden;
        // max-width: 100%;
        width: 100%;
        height: 100%;
    }

    h2{
        font-weight: bolder;
        margin: 20px;
    }

    .btn{
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
}
//end whyus

//start footer
.footer{
    padding: 10px;
    .column1{
        span:first-child{
            font-size: 40px;
            font-weight: bold;
            color: $primary-color;
        }

        span:nth-child(2){
            font-size: 40px;
            color: $secondary-color;
        }

        a:before{
            font-family: 'FontAwesome';
            content: "\f138";
            display: inline-block;
            margin-right: 5px;
        }
    }

    h4{
        color: $primary-color;
    }

    .column2{
        text-align: left;


        li a:before{
            font-family: 'FontAwesome';
            content: "\f054";
            display: inline-block;
            margin-right: 5px;
        }
    }
}
//end footer

//start copyright
.copyright{
    p{
        display: inline-block;
    }
    ul{
        margin-left: 20px;
        display: inline-block;
    }
    li{
        display: inline-block;
    };
}
//end copyright